{
  "openapi": "3.0.3",
  "info": {
    "title": "车辆报告系统 API 文档",
    "description": "深蓝汽车报告系统API接口文档，包含车辆数据、里程统计、节能减排等信息",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://car-report.deepal.com.cn" }
  ],
  "paths": {
    "/api/vehicle/report": {
      "get": {
        "summary": "获取车辆报告详情",
        "description": "获取指定车辆的完整报告信息",
        "tags": ["车辆报告"],
        "parameters": [
          {
            "name": "carId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆ID"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆VIN码"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回车辆报告",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleReport"
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "404": { "description": "车辆不存在" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/mileage": {
      "get": {
        "summary": "获取车辆里程数据",
        "description": "获取指定车辆的行驶里程统计数据",
        "tags": ["车辆报告"],
        "parameters": [
          {
            "name": "carId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆ID"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "访问令牌"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回里程数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MileageData"
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/eco": {
      "get": {
        "summary": "获取节能环保数据",
        "description": "获取车辆的节能减排效益数据",
        "tags": ["车辆报告"],
        "parameters": [
          {
            "name": "carId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回节能环保数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcoData"
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/user/info": {
      "get": {
        "summary": "获取用户信息",
        "description": "获取当前登录用户的信息",
        "tags": ["用户"],
        "parameters": [
          {
            "name": "memberId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "会员ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回用户信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/list": {
      "get": {
        "summary": "获取车辆列表",
        "description": "获取用户名下的所有车辆列表",
        "tags": ["车辆"],
        "parameters": [
          {
            "name": "memberId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "会员ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回车辆列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "用户登录",
        "description": "车辆报告系统用户登录接口",
        "tags": ["认证"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": { "type": "string", "description": "用户名/手机号" },
                  "password": { "type": "string", "description": "密码" }
                },
                "required": ["username", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "登录成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": { "type": "string" },
                        "deepalToken": { "type": "string" },
                        "memberId": { "type": "string" },
                        "userInfo": { "$ref": "#/components/schemas/UserInfo" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "认证失败" }
        }
      }
    },
    "/api/vehicle/control/lock": {
      "post": {
        "summary": "车辆上锁",
        "description": "远程控制车辆上锁",
        "tags": ["车辆控制"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carId": { "type": "string", "description": "车辆ID" },
                  "vin": { "type": "string", "description": "车辆VIN码" }
                },
                "required": ["carId", "vin"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "发送上锁指令成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "commandId": { "type": "string" },
                        "status": { "type": "string", "enum": ["PENDING", "SUCCESS", "FAILED"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "403": { "description": "无操作权限" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/control/unlock": {
      "post": {
        "summary": "车辆解锁",
        "description": "远程控制车辆解锁",
        "tags": ["车辆控制"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carId": { "type": "string", "description": "车辆ID" },
                  "vin": { "type": "string", "description": "车辆VIN码" }
                },
                "required": ["carId", "vin"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "发送解锁指令成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "commandId": { "type": "string" },
                        "status": { "type": "string", "enum": ["PENDING", "SUCCESS", "FAILED"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "403": { "description": "无操作权限" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/control/ac": {
      "post": {
        "summary": "空调控制",
        "description": "远程控制车辆空调开关和温度",
        "tags": ["车辆控制"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carId": { "type": "string", "description": "车辆ID" },
                  "vin": { "type": "string", "description": "车辆VIN码" },
                  "action": { "type": "string", "enum": ["ON", "OFF"], "description": "开启或关闭" },
                  "temperature": { "type": "integer", "description": "目标温度(16-30)" },
                  "duration": { "type": "integer", "description": "持续时间(分钟)" }
                },
                "required": ["carId", "vin", "action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "发送空调控制指令成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "commandId": { "type": "string" },
                        "status": { "type": "string", "enum": ["PENDING", "SUCCESS", "FAILED"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "403": { "description": "无操作权限" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/control/status": {
      "get": {
        "summary": "获取车辆状态",
        "description": "获取车辆当前状态信息",
        "tags": ["车辆控制"],
        "parameters": [
          {
            "name": "carId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆ID"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆VIN码"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回车辆状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": { "$ref": "#/components/schemas/VehicleStatus" }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "404": { "description": "车辆不存在" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/vehicle/control/find": {
      "post": {
        "summary": "寻车",
        "description": "远程控制车辆鸣笛闪灯寻车",
        "tags": ["车辆控制"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carId": { "type": "string", "description": "车辆ID" },
                  "vin": { "type": "string", "description": "车辆VIN码" },
                  "duration": { "type": "integer", "description": "持续时间(秒)" }
                },
                "required": ["carId", "vin"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "发送寻车指令成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "commandId": { "type": "string" },
                        "status": { "type": "string", "enum": ["PENDING", "SUCCESS", "FAILED"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "403": { "description": "无操作权限" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/data/export": {
      "get": {
        "summary": "导出车辆数据",
        "description": "导出车辆历史数据(里程、能耗等)",
        "tags": ["数据导出"],
        "parameters": [
          {
            "name": "carId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "车辆ID"
          },
          {
            "name": "dataType",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["mileage", "energy", "driving", "all"] },
            "description": "数据类型"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date" },
            "description": "开始日期"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date" },
            "description": "结束日期"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["csv", "excel"] },
            "description": "导出格式"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回导出文件",
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": { "description": "未认证" },
          "403": { "description": "无操作权限" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/user/settings": {
      "get": {
        "summary": "获取用户设置",
        "description": "获取用户应用设置和偏好",
        "tags": ["用户设置"],
        "parameters": [
          {
            "name": "memberId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "会员ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回用户设置",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": { "$ref": "#/components/schemas/UserSettings" }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/api/user/settings": {
      "put": {
        "summary": "更新用户设置",
        "description": "更新用户应用设置和偏好",
        "tags": ["用户设置"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "memberId": { "type": "string", "description": "会员ID" },
                  "settings": { "$ref": "#/components/schemas/UserSettings" }
                },
                "required": ["memberId", "settings"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新设置成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "integer" },
                    "message": { "type": "string" },
                    "data": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": { "description": "未认证" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "VehicleReport": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "properties": {
              "carInfo": { "$ref": "#/components/schemas/VehicleInfo" },
              "mileage": { "$ref": "#/components/schemas/MileageData" },
              "ecoData": { "$ref": "#/components/schemas/EcoData" },
              "drivingHistory": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/DrivingRecord" }
              }
            }
          }
        }
      },
      "VehicleInfo": {
        "type": "object",
        "properties": {
          "carId": { "type": "string" },
          "vin": { "type": "string" },
          "seriesCode": { "type": "string" },
          "seriesName": { "type": "string" },
          "modelName": { "type": "string" },
          "licensePlate": { "type": "string" },
          "productionDate": { "type": "string" },
          "purchaseDate": { "type": "string" },
          "color": { "type": "string" },
          "imageUrl": { "type": "string" },
          "powerType": { "type": "string", "enum": ["EV", "PHEV", "ICE"] }
        }
      },
      "MileageData": {
        "type": "object",
        "properties": {
          "totalMileage": { "type": "number" },
          "monthlyMileage": { "type": "number" },
          "weeklyMileage": { "type": "number" },
          "dailyAverage": { "type": "number" },
          "mileageRecords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": { "type": "string" },
                "mileage": { "type": "number" }
              }
            }
          }
        }
      },
      "EcoData": {
        "type": "object",
        "properties": {
          "totalSaveMoney": { "type": "number" },
          "totalReduceEmission": { "type": "number" },
          "energyConsumption": { "type": "number" },
          "comparisonWithICE": {
            "type": "object",
            "properties": {
              "fuelSaved": { "type": "number" },
              "moneySaved": { "type": "number" },
              "co2Reduced": { "type": "number" }
            }
          }
        }
      },
      "DrivingRecord": {
        "type": "object",
        "properties": {
          "tripId": { "type": "string" },
          "startTime": { "type": "string" },
          "endTime": { "type": "string" },
          "startLocation": { "type": "string" },
          "endLocation": { "type": "string" },
          "mileage": { "type": "number" },
          "avgSpeed": { "type": "number" },
          "maxSpeed": { "type": "number" },
          "energyConsumption": { "type": "number" }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "memberId": { "type": "string" },
          "nickname": { "type": "string" },
          "mobile": { "type": "string" },
          "avatar": { "type": "string" },
          "level": { "type": "integer" },
          "points": { "type": "integer" },
          "registerDate": { "type": "string" }
        }
      },
      "VehicleStatus": {
        "type": "object",
        "properties": {
          "lockStatus": { "type": "string", "enum": ["LOCKED", "UNLOCKED", "UNKNOWN"] },
          "engineStatus": { "type": "string", "enum": ["ON", "OFF", "UNKNOWN"] },
          "batteryLevel": { "type": "number" },
          "remainingRange": { "type": "number" },
          "location": {
            "type": "object",
            "properties": {
              "latitude": { "type": "number" },
              "longitude": { "type": "number" },
              "address": { "type": "string" },
              "updatedAt": { "type": "string" }
            }
          },
          "doors": {
            "type": "object",
            "properties": {
              "driverDoor": { "type": "string", "enum": ["OPEN", "CLOSED"] },
              "passengerDoor": { "type": "string", "enum": ["OPEN", "CLOSED"] },
              "leftRearDoor": { "type": "string", "enum": ["OPEN", "CLOSED"] },
              "rightRearDoor": { "type": "string", "enum": ["OPEN", "CLOSED"] },
              "trunk": { "type": "string", "enum": ["OPEN", "CLOSED"] },
              "hood": { "type": "string", "enum": ["OPEN", "CLOSED"] }
            }
          },
          "windows": {
            "type": "object",
            "properties": {
              "driverWindow": { "type": "string", "enum": ["OPEN", "CLOSED", "PARTIALLY_OPEN"] },
              "passengerWindow": { "type": "string", "enum": ["OPEN", "CLOSED", "PARTIALLY_OPEN"] },
              "leftRearWindow": { "type": "string", "enum": ["OPEN", "CLOSED", "PARTIALLY_OPEN"] },
              "rightRearWindow": { "type": "string", "enum": ["OPEN", "CLOSED", "PARTIALLY_OPEN"] },
              "sunroof": { "type": "string", "enum": ["OPEN", "CLOSED", "TILTED", "PARTIALLY_OPEN"] }
            }
          },
          "hvacStatus": {
            "type": "object",
            "properties": {
              "status": { "type": "string", "enum": ["ON", "OFF"] },
              "temperature": { "type": "number" },
              "fanSpeed": { "type": "integer" },
              "mode": { "type": "string", "enum": ["AUTO", "COOL", "HEAT", "VENTILATION"] }
            }
          },
          "tires": {
            "type": "object",
            "properties": {
              "frontLeft": { "type": "number" },
              "frontRight": { "type": "number" },
              "rearLeft": { "type": "number" },
              "rearRight": { "type": "number" }
            }
          },
          "lastUpdated": { "type": "string" }
        }
      },
      "UserSettings": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "object",
            "properties": {
              "pushEnabled": { "type": "boolean" },
              "emailEnabled": { "type": "boolean" },
              "smsEnabled": { "type": "boolean" },
              "lowBatteryAlert": { "type": "boolean" },
              "vehicleStatusAlerts": { "type": "boolean" },
              "maintenanceReminders": { "type": "boolean" }
            }
          },
          "display": {
            "type": "object",
            "properties": {
              "theme": { "type": "string", "enum": ["LIGHT", "DARK", "SYSTEM"] },
              "language": { "type": "string" },
              "temperatureUnit": { "type": "string", "enum": ["CELSIUS", "FAHRENHEIT"] },
              "distanceUnit": { "type": "string", "enum": ["KM", "MILE"] }
            }
          },
          "privacy": {
            "type": "object",
            "properties": {
              "shareLocationData": { "type": "boolean" },
              "shareDrivingData": { "type": "boolean" },
              "dataRetentionPeriod": { "type": "integer" }
            }
          },
          "defaultVehicle": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ]
} 